body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11pt;
}

nav {
    background: #fae805;
    color: #000;
    padding: 10px;
}

.app {
    margin-top: 30px;
    padding: 20px;
}

.iconbutton {
    font-size: 24px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 28px;
    text-align: center;
    padding: 8px;
    padding-top: 12px;
    padding-left: 9px;
    margin-top: 13px;
}

#icons {
    float: right;
}

#codes {
    text-align: center;
    background: rgba(0,0,0,.2);
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
}

#codes > #error {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.btn {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    background: #000;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 11pt;
}

.item {
    margin-top: 60px;
    margin-bottom: 50px;
}

.remove {
    margin-left: 10px;
    color: red;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-weight: 300;
}